{% extends 'base.html' %}

{% block title %}Дерево подразделений{% endblock %}

{% block content %}
{%for subdivision, levels in dict_tree_subdivisions.items%}
    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#sub_{{subdivision.id}}" aria-expanded="false" aria-controls="sub_{{subdivision.id}}">
            {{subdivision}}
        </button>
    </p>
    <div class="collapse" id="sub_{{subdivision.id}}">
      <div class="card card-body">
        {%for level, employees in levels.items%}
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#level_{{level.id}}" aria-expanded="false" aria-controls="level_{{level.id}}">
                    {{level}} Кол-во сотрудников: {{employees.count}}
                </button>
            </p>
            <div class="collapse" id="level_{{level.id}}">
                <div class="card card-body">
                    {%for employee in employees%}
                            ФИО: {{employee}}
                            <a href="{% url 'admin:staff_employee_change' employee.id%}"> Перейти к сотруднику</a>
                    <br/>
                    {%endfor%}
                </div>
            </div>
        {% endfor %}
      </div>
    </div>

{% endfor %}
{% endblock %}